@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3 fs-5 text-white">
                        <form action="compte/deconnexion" method="post">
                            <button class="btn btn-outline-dark" type="submit">
                                Deconnexion
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="d-flex">
                        <NavLink href="compte/inscrire" class="nav-item fs-5 text-dark text-decoration-none">
                            Créer un compte
                        </NavLink>
                        <NavLink href="compte/connexion" class="nav-item fs-5 text-dark text-decoration-none">
                            Se connecter
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
