@attribute [Authorize]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">projet</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable px-4" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">


        <AuthorizeView Roles="Admin">

            <Authorized>
                <div class="nav-item px-3 fw-bold text-white fs-2 mb-4 text-center">
                    Dashboard
                </div>
                <ul class="nav">
                    <li>
                        <NavLink href="admin/manage-entreprises" class="nav-link link text-white mb-3 fs-5">Gérer
                            entreprises</NavLink>
                    </li>
                    <li>
                        <NavLink href="admin/manage-universites" class="nav-link link text-white mb-3 fs-5">Gérer
                            universités</NavLink>

                    </li>
                    <li>
                        <NavLink href="admin/membre-de-comite" class="nav-link link text-white mb-3 fs-5">Gérer les
                            membres de comité</NavLink>

                    </li>
                    <li>
                        <NavLink href="/admin/manage-compte-utilisateur" class="nav-link link text-white mb-3 fs-5">
                            Gérer utilisateur</NavLink>
                    </li>
                </ul>
            </Authorized>
        </AuthorizeView>


    </nav>
</div>
