<link rel="stylesheet" href="SideBar.razor.css" />
@attribute [Authorize]
<aside class="text-white h-100">
    <AuthorizeView Roles="Admin">
        <Authorized>
            <ul class="nav my-nav-menu">
                <div class="d-flex flex-column">
                    <NavLink class=" nav-link link text-white fs-6" href="admin/membre-de-comite">
                        Créer Membres Comité
                    </NavLink>
                     
                    <NavLink class="nav-link link text-white fs-6" href="admin/manage-universites">
                        Gérer Universités
                    </NavLink>
                    <NavLink class="nav-link link text-white fs-6" href="admin/manage-entreprises">
                        Gérer Entreprise
                    </NavLink>

                    <NavLink class="nav-link link text-white fs-6" href="admin/manage-compte-utilisateur">
                        Gérer Comptes Utilisateurs
                    </NavLink>
                </div>
            </ul>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Participant">
        <Authorized>
            <NavLink class=" nav-link link text-white fs-6" href="conference">
                Liste des conférences
            </NavLink>
        </Authorized>
    </AuthorizeView>
</aside>


