@page "/admin/manage-entreprises/ajouter"
@using projetcsharp.DTO.Entreprises_et_Universites

<PageTitle>Entreprise/Ajouter</PageTitle>

<div class="col-md-8">
    <h3 class="mb-3">Ajouter une Entreprise</h3>
    <div>
        @if (Error != null)
        {
            <div class="fs-5 alert alert-success">
                @Error
            </div>
        }
        <EditForm Model="entrepriseDto" method="Post" FormName="AjouterEntreprise" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <div class="form-group mb-3">
                <label for="nom" class="mb-3">Nom de l'entreprise:</label>
                <InputText id="nom" class="form-control" @bind-Value="entrepriseDto.Name" />
                <ValidationMessage For="@(() => entrepriseDto.Name)" />
            </div>

            <button type="submit" class="btn btn-primary" @onclick="()=>HandleSubmit()">Enregistrer</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private EntrepriseDTO entrepriseDto { get; set; } = new();
    private string? Error;
    public async Task HandleSubmit()
    {
        var resultat = await entrepriseService.AddEntrepriseAsync(entrepriseDto);
        if (resultat.Flag)
        {
            entrepriseDto = new();
            nvm.NavigateTo("admin/manage-entreprises");

        }
        Error = resultat.Message;
    }
}
