@page "/admin/manage-compte-utilisateur"

<PageTitle>Gérer compte</PageTitle>

<h3>Utilisateur</h3>
<table class="table table-hover">
    <thead>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>E-mail</th>
        <th>Adresse</th>
        <th>Role</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>membre@gmail.com</th>
        </tr>
    </tbody>
</table>

@code {

}
